@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca:wght@800&display=swap');

body, html, #root{
  min-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}